<!--
 * @Description: 注册界面
 * @Autor: SongJialin
 * @Date: 2021-10-22 18:00:02
 * @Coding: UTF-8
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous" />
</head>
<body>
<div class="container-fluid text-center">
    <form th:action="@{/ssoServerLogin}" method="post" style="max-width: 350px; margin: 0 auto;">
     
        <br>
        <br>
        <br>
        <br>
        <div >
            <p class="text-danger">单点登录系统</p>
        </div>
                 
        <div th:if="${errorpwd}">
            <p class="text-warning">用户名或密码错误</p>
        </div>
         
        <div th:if="${newUser}">
            <p class="text-info">已成功注册</p>
        </div>

        <div class="border border-secondary p-3 rounded">
            <p>一次登录，所有服务</p>

            <p>
                <input type="email" name="email" class="form-control" placeholder="E-mail" required autofocus/>
            </p>
            <p>
                <input type="password" name="pwd" class="form-control" placeholder="Password" required />
            </p>
            <input type="hidden" id="service" name="service" th:value="${service}" />
            <p>
                <input type="submit" name="action" value="Login" class="btn btn-primary" />
                <input type="submit" name="action" value="Sign" class="btn btn-primary" />
            </p>
        </div>
    </form>      
</div>
</body>
</html>