<!-- <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Hello Thymeleaf</title>
</head>
<body>
    <p th:text="这里是系统2"/>
</body>
</html> -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>主网页</title>
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
    <div class="home">
        <div class="content">
            <div class="stars"></div>
            <img class="bgc" src="./img/pre1.jpg" width="100%" alt="">
            <h2 class="title">欢迎来到系统B</h2>
           <!-- <img class="icon" src="./img/abc.jpg" alt="">-->
            <div class='ribbon'>
                <a href='http://localhost:8080/ssoCenter'><span>sso认证中心</span></a>
                <a href='http://localhost:8080/sys1'><span>系统A</A></span></a>
                <a href='http://localhost:8080/sys2'><span>系统B</span></a>
                <a href='https://github.com/hutaiHang/javaEE_exp1'><span>GitHub</span></a>
                <a href="http://localhost:8080/logout"> <span>LogOut</span></a>
            </div>

    </div>
   
</body>


</html>
